<h1>Logout</h1>

<p>Are you sure you'd like to log out?</p>

<form asp-action="LogoutConfirmed">
    <p>
        <input type="submit" value="Logout" class="btn btn-primary" />
    </p>
    <p>
        <a asp-controller="Home" asp-action="Index">Back to home</a>
    </p>
</form>