@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome, admin!</h1>
    <p class="mt-5 fs-5"><a href="https://localhost:7256/bands/">Bands</a></p>
    <p class="fs-5"><a href="https://localhost:7256/genres/">Genres</a></p>
    <p class="fs-5"><a href="https://localhost:7256/concerts/">Concerts</a></p>
    <p class="fs-5"><a href="https://localhost:7256/locations/">Locations</a></p>
</div>
